@model IEnumerable<EventReservation.Models.LocalRequest>

@{
    ViewBag.Title = "LokalRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-green text-center display-4 font-header mt-5 mb-5">Local Requests</h4>

<div style="width: 80%; margin: auto">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalCity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalCity)
                </td>
                <td>
                    @Html.ActionLink("Confirm", "Confirm", "Locals", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                    <button type="button" class="btn btn-outline-danger" onclick="post(@item.Id)">Delete <span class="fa fa-trash"></span></button>
                </td>
            </tr>
        }

    </table>
</div>

<script>
    function post(id) {
        var formData = new FormData();
        formData.append("id", id);
        $.ajax({
            url: "/Locals/DeleteRequest/",
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function () {
                $("#" + id).remove();
            },
            error: function () {
                alert("error");
            }
        });
    }
</script>
