<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Reservation</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Css/navbar.css" rel="stylesheet" />
    <link href="~/Css/footer.css" rel="stylesheet" />
    <link href="~/Css/shared.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <div id="page-container">
        <nav class="navbar navbar-expand-lg bg-imperial static-top" id="proba">
            <div class="container-page container">
                @if (!User.IsInRole("Manager"))
                {
                    <a class="navbar-brand text-mint" href="/Locals/ListEvents"><img src="~/Content/logo.png">  </a>
                }
                else
                {
                    <a class="navbar-brand text-mint" href="/Home/Index"><img src="~/Content/logo.png">  </a>
                }

                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        @if (!User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Index">
                                    <i class="fa fa-home"></i> Home
                                </a>
                            </li>
                        }
                        @if (!User.IsInRole("Manager"))
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="~/Events/Index">
                                    <i class="fa fa-calendar-check"></i> Events
                                </a>
                            </li>
                        }
                        @if (!User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Locals/Index">
                                    <i class="fa fa-map"></i> Locals
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/About">
                                <i class="fa fa-info-circle"></i> About Us
                            </a>
                        </li>

                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Events/List">
                                    <i class="fa fa-glass-martini"></i> My events
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Locals/MyLocal">
                                    <i class="fa fa-map"></i> My Local
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Events/ListReservations">
                                    <i class="fa fa-glass-martini"></i> My Reservation
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Locals/ListEvents">
                                    <i class="fa fa-glass-cheers"></i> My events
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/Locals/Requests">
                                    <i class="fa fa-info-circle"></i> Requests
                                </a>
                            </li>
                        }
                        @*<li class="nav-item">
            <a class="nav-link" href="/Account/Login">
                <i class="fa fa-user"></i> Log in
            </a>
        </li>*@
                        @Html.Partial("_LoginPartial")

                    </ul>
                </div>
            </div>
        </nav>

        <div style="padding-bottom: 83px">
            @RenderBody()
        </div>


        <footer class="bg-imperial">
            <p class="text-center text-mint p-4 mb-0">I T &copy; @DateTime.Now.Year - FINKI, Skopje</p>
        </footer>
    </div>
</body>
</html>
<style>
    #proba {
    }
</style>