@model EventReservation.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Register";
}
<link href="~/Css/login-form.css" rel="stylesheet" />
<style>
    footer {
        visibility: collapse;
    }

    nav {
        visibility: collapse;
    }
</style>
<section>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <div>
                                <div class="float-left">
                                    <a title="Go back" class="card-title" href="/"><i class="fa fa-fw fa-arrow-left"></i></a>
                                </div>
                                <div class="text-center">
                                    <h5 class="card-title">Register</h5>
                                </div>
                            </div>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email", required = "true", autofocus = "autofocus" })
                                </div>
                                <div class="form-label-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required", autofocus = "autofocus" })
                                </div>
                                <div class="form-label-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", required = "required", autofocus = "autofocus" })
                                </div>
                                <div class="row">
                                    @Html.ValidationSummary("", new { @class = "text-danger small " })
                                </div>

                                <div class="form-label-group">
                                    <input value="Create account" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
