@model EventReservation.Models.Event
@{
    ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/Jquery")

<script src="~/Scripts/multistep-form.js"></script>
<link href="~/Css/multistep-form.css" rel="stylesheet" />
<link href="~/Content/fontawesome-all.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/timepicki.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Content/timepicki.js"></script>


@using (Html.BeginForm("Create", "Events", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form py-5 container content main">
        <div style="margin-left:80px;">
            <ul class="progressbar">
                <li id="active1" class="li-multistep"><span><i class="fa fa-glass-martini text-imperial pr-2"></i></span></li>
                <li id="active2" class="li-multistep"><span><i class="fa fa-glass-martini  pl-2 pr-2"></i></span></li>
                <li id="active3" class="li-multistep"><span><i class="fa fa-glass-martini  fa-1x pl-2"></i></span></li>
            </ul>
            <ul class="progressbar1">
                <li class="li-multistep"><span class="li-text">General Info</span></li>
                <li class="li-multistep"><span class="li-text" style="margin-left:-30px;">Time & Date</span></li>
                <li class="li-multistep"><span class="li-text" style="margin-left:-37px;">Additional Info</span></li>
            </ul>
        </div>
        <div style="margin-top: -25px; margin-left: auto;">

            <fieldset id="first" style="width:500px;">
                <h5 class="title">General Details</h5>
                @Html.Hidden("LocalId", (object)ViewBag.LocalId)


             
                <div>
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "label-text" })
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control cust-width", @id = "title" } })
                        <p id="TitleH"></p>
                    </div>
                </div>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "label-text" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control cust-width ", @id = "description" } })
                        <p id="DescriptionH"></p>
                    </div>
                </div>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "label-text" })
                    <div class="form-group cust-width">
                        @Html.DropDownListFor(model => model.Genre, new SelectList(ViewBag.genres), new { htmlAttributes = new { @class = "form-control cust-width", @id = "genre" } })
                        <p id="BandH"></p>
                    </div>
                </div>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Performer, htmlAttributes: new { @class = "label-text" })
                        @Html.EditorFor(model => model.Performer, new { htmlAttributes = new { @class = "form-control cust-width", @id = "performer" } })
                        <p id="PerformerH"></p>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NoTables, htmlAttributes: new { @class = "label-text" })
                    @Html.EditorFor(model => model.NoTables, new { htmlAttributes = new { @class = "form-control cust-width border solid", @id = "tables" }, min = 1 })
                    <p id="tableH"></p>
                </div>

                <div class="form-group field2" style="margin-right:45px;">
                    <a class="btn pl-3 pr-3 btn-green" href="/Events/Index">Cancel</a>
                    <input id="next_btn1" onclick="validate_step1()" type="button" value="Next" class="btn pl-3 pr-3 btn-green float-right">
                </div>
            </fieldset>

            <fieldset id="second" style="width:500px;">
                <h5 class="title">Date & Time</h5>
                <div>
                    @Html.LabelFor(model => model.DateStart, htmlAttributes: new { @class = "label-text" })
                    @Html.TextBoxFor(model => model.DateStart, htmlAttributes: new { @placeholder = "Select date", @id = "datepicker", @class="cust-width" })
                    <p id="datepickerH"></p>
                </div>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.TimeStart, htmlAttributes: new { @class = "label-text" })
                        @Html.EditorFor(model => model.TimeStart, new { htmlAttributes = new { @class = "form-control cust-width cust-border", @id = "start", @placeholder = "hh:mm" } })
                        <p id="startH"></p>
                    </div>
                </div>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.TimeEnd, htmlAttributes: new { @class = "label-text" })
                        @Html.EditorFor(model => model.TimeEnd, new { htmlAttributes = new { @class = "form-control cust-width cust-border", @id = "end", @placeholder = "hh:mm" } })
                        <p id="endH"></p>
                    </div>
                </div>
                <div class="row form-group field2 m-auto">
                    <div class="col-4">
                        <input  onclick="prev_step1()" type="button" value="Previous" class="btn pl-3 pr-3 btn-green">
                    </div>
                   
                    <div class="col-4">  <a class="btn pl-3 ml-2 pr-3 btn-green" href="/Events/Index">Cancel</a></div>
                    <div class="col-4">
                        <input id="next_btn2" name="next" onclick="validate_step2()" type="button" value="Next" class=" btn pl-3 pr-3 btn-green float-right"></div>
                    </div>
</fieldset>

            <fieldset id="third" style="width:500px;">

                <h5 class="title">Additional Details</h5>
                <div class="pt-3">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.HasTicket, htmlAttributes: new { @class = "label-text" })
                        <input type="radio" onclick="handleClick(this);" id="yes" name="HasTicker" class="ml-3" value="Yes" />Yes
                        <input type="radio" onclick="handleClick(this);" checked name="HasTicker" class="ml-3" value="No" />No
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TicketPrice, htmlAttributes: new { @class = "label-text" })
                    <input type="text" id="price" class="form-control cust-width" disabled>

                </div>
                <div class="form-group pl-5">
                    <div>Event Image</div>
                    @Html.TextBoxFor(m => m.EventImage, new { type = "file", accept = ".jpg,.jpeg,.png,.bmp,.gif,.tif,.tiff", @class = "form-control" })
                </div>

                <div class="row form-group field2 m-auto">
                    <div class="col-4">
                        <input onclick="prev_step2()" type="button" value="Previous" class="btn pl-3 pr-3 btn-green">
                    </div>
                    <div class="col-4"> <a class="btn pl-3 ml-2 pr-3 btn-green" href="/Events/Index">Cancel</a></div>
                    <div class="col-4">
                        <input type="submit" value="Create" class="btn btn-green pl-3 pr-3 float-right" />
                    </div>
                </div>
            </fieldset>

        </div>
    </div>
}

<script type="text/javascript">
 $(function () {
        $("#datepicker").datepicker({ minDate: 0 });
        $('#end').timepicki({
            show_meridian: false,
            min_hour_value: 0,
            max_hour_value: 23,
            step_size_minutes: 15,
            increase_direction: 'up',
            start_time: ["20", "00"]
        });
        $('#start').timepicki({
            show_meridian: false,
            min_hour_value: 0,
            max_hour_value: 23,
            step_size_minutes: 15,
            increase_direction: 'up',
            start_time: ["20", "00"]
        });
    });
  
    function handleClick(HasTicker) {
     
        if (HasTicker.value == "Yes") {    
            document.getElementById("price").disabled = false;
            document.getElementById("price").focus();
        }
         if (HasTicker.value == "No") {    
            document.getElementById("price").disabled = true;
         
    }
} 

   

    document.getElementById("active2").style.color = "lightgrey";
    document.getElementById("active3").style.color = "lightgrey";
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
