@model EventReservation.Models.Event

@{
    ViewBag.Title = "Delete";
}
<link href="~/Css/createCss.css" rel="stylesheet" />
<div class="container bg-imperial text-center py-5">
    <h3 class="text-center py-5">Are you sure you want to delete this event?</h3>
    <div class="row text-left">
        <div class="col-lg-4 offset-1">
            <dl class="dl-horizontal" style="font-size:22px;">
                <!--<dt>
        @Html.DisplayNameFor(model => model.local.Name):<span class="font22"> @Html.DisplayFor(model => model.local.Name)</span>
    </dt>-->
                <dt>
                    @Html.DisplayNameFor(model => model.Title): <span class="font22">@Html.DisplayFor(model => model.Title)</span>
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Description): <span class="font22">@Html.DisplayFor(model => model.Description)</span>
</dt>

                <dt>
                    @Html.DisplayNameFor(model => model.DateStart): <span class="font22">@Html.DisplayFor(model => model.DateStart)</span>
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.DateEnd):<span class="font22"> @Html.DisplayFor(model => model.DateEnd)</span>
</dt>
                <dt>
                    @Html.DisplayNameFor(model => model.Ticket): <span class="font22">@Html.DisplayFor(model => model.Ticket)</span>
</dt>
</div>
        <div class="col-lg-4" style="font-size:22px;">
            <dt>
                @Html.DisplayNameFor(model => model.TicketPrice):<span class="font22"> @Html.DisplayFor(model => model.TicketPrice)</span>
            </dt>
            
            <dt>
                @Html.DisplayNameFor(model => model.FreeTables):  <span class="font22">@Html.DisplayFor(model => model.FreeTables)</span>
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.BandName): <span class="font22">@Html.DisplayFor(model => model.BandName)</span>
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.Genre): <span class="font22"> @Html.DisplayFor(model => model.Genre)</span>
            </dt>

        </div>

    </div>
 
        @Html.AntiForgeryToken()
    <div class="row py-5 align-content-center">
        <div class="col-3 offset-4">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary btn-block" />
                <!--   @Html.ActionLink("Back to List", "Index")-->
            </div>
        </div>
        <div class="col-5"></div>
    </div>
   
</div>
