@model EventReservation.Models.Event

@{
    ViewBag.Title = "Delete";
}
<style>
    dt {
        align-items: flex-start;
    }
</style>
<link href="~/Css/edit.css" rel="stylesheet" />
<div style="background-image: url('../../Content/bestParties.jpg'); opacity: 0.9;" class="div1">

    <div class="container text-center py-5 form-class">
        <h3 class="text-center py-5 font-klasa">Details for the event - @Model.Title </h3>
        <div class="container row">
            <div class="col" style="font-size:22px;">
                <dt>
                    <div>
                          @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
                    </div>
                  
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.DateStart):@Html.DisplayFor(model => model.DateStart)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.DateEnd):@Html.DisplayFor(model => model.DateEnd)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.Ticket): @Html.DisplayFor(model => model.Ticket)
                </dt>
            </div>
            <div class="col" style="font-size:22px;">
                <dt>
                    @Html.DisplayNameFor(model => model.TicketPrice): @Html.DisplayFor(model => model.TicketPrice)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.FreeTables):  @Html.DisplayFor(model => model.FreeTables)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.BandName):@Html.DisplayFor(model => model.BandName)
                </dt>

                <dt>
                    @Html.DisplayNameFor(model => model.Genre):  @Html.DisplayFor(model => model.Genre)
                </dt>

            </div>

        </div>

        @Html.AntiForgeryToken()
        <div class="row py-5 align-content-center">
            <div class="col-3 offset-4">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary btn-block" />

                    <!--   @Html.ActionLink("Back to List", "Index")-->
                </div>
            </div>
            <div class="col-5"></div>
        </div>

    </div>
</div>