@model EventReservation.Models.Event

@{
    ViewBag.Title = "Details";
}
<link href="~/Css/event-details.css" rel="stylesheet" />

<div class="container" style="border:2px solid #004E64; border-radius:10px; margin-top:10px; margin-bottom:10px; padding:0">
    <div>

        <img src="~/Content/IT_sliki/audience.jpg" style="width:100%; height:550px; opacity:0.9" />

        <div class="centered">


            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="centered1">
            @Html.DisplayNameFor(model => model.Description)

            @Html.DisplayFor(model => model.Description)

            <div class="p-2"><a class="aboutus-more" data-toggle="modal" data-target="#myModal" href="#">Reserve Table</a></div>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h6 class="modal-title">Enter name for your reservation</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    @using (Html.BeginForm("Reserve", "Events", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            @Html.Hidden("eventId", Model.Id)
                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label"><label for="formGroupExampleInput">Name</label></div>
                                <div class="col-10"><input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="Name for reservation"></div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-2 col-form-label"> <label for="numberT">Tables</label></div>
                                <div class="col-10"> <input type="number" id="numberT" class="form-control" name="notables" placeholder="Number of tables" min="1" max="3"></div>
                            </div>
                            <p class="small">By clicking <span class="btn btn-sm bg-imperial rounded text-white" style="padding:1px;">Reserve</span> you will receive an email confirmation for your reservation.</p>
                        </div>  

                        <div class="modal-footer">
                            <button type="submit" class="btn bg-imperial text-mint">Reserve</button>
                            <button type="button" class="btn bg-imperial text-mint" data-dismiss="modal">Cancel</button>
                        </div>
                    }
                </div>

            </div>
        </div>


    </div>
    <br />


    <div class="container row pl-5">
        <div class="col-3"><i class="fa fa-clock ikona"></i></div>
        <div class="col-3"><i class="fa fa-music ikona"></i></div>
        <div class="col-3"><i class="fa fa-ticket-alt ikona"></i></div>
        <div class="col-3"><i class="fa fa-map ikona"></i></div>

    </div>

    <div class="row container pt-2 pl-5">
        <div class="col-3">
            <h6>TIME</h6>

            @Html.DisplayNameFor(model => model.DateStart)
            @Html.DisplayFor(model => model.DateStart)
            <br />
            @Html.DisplayNameFor(model => model.DateEnd):
            @Html.DisplayFor(model => model.DateEnd)

        </div>
        <div class="col-3">

            <h6>MUSIC</h6>

            @Html.DisplayNameFor(model => model.BandName):
            @Html.DisplayFor(model => model.BandName)
            <br />
            @Html.DisplayNameFor(model => model.Genre):
            @Html.DisplayFor(model => model.Genre)

        </div>
        <div class="col-3">

            @* @Html.DisplayNameFor(model => model.Ticket)

                @Html.DisplayFor(model => model.Ticket)
                <br />*@

            <h6>TICKETS & TABLES</h6>
            @Html.DisplayNameFor(model => model.TicketPrice):
            @Html.DisplayFor(model => model.TicketPrice)
            <br />
            @Html.DisplayNameFor(model => model.NoTables):
            @if (Model.NoTables == Model.ReservedTables)
            {
                <span class="font-weight-bold">All reserved</span>
            }
            else
            {
                <span>Reserve Now</span>
            }

        </div>
        <div class="col-3">
            <h6>WHERE</h6>
            @Html.DisplayNameFor(model => model.local.Name):
            @Html.DisplayFor(model => model.local.Name)

        </div>
    </div>
    <br />
</div>





@*
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@