@model EventReservation.Models.Event

@{
    /**/

    ViewBag.Title = "Details";
}
<link href="~/Css/event-details.css" rel="stylesheet" />
<div class="container">
    <img src="~/Content/IT_sliki/audience.jpg" class="mt-2" style="width:80%; margin-left:100px; height:450px; opacity:0.9" />
    <div class="centered">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div class="centered1 mt-4 text-center">
        @Html.DisplayFor(model => model.Description)
      
        @if (!User.IsInRole("Manager"))
        {
        <div class="mt-2 p-2 text-center"><a class="aboutus-more" data-toggle="modal" data-target="#myModal" href="#">Reserve Table</a></div>
        }
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            @if (!User.IsInRole("User"))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Please sign in</h5>
                    </div>
                    <div class="container">
                        <p class="px-4 pt-4 bold">You need to sign in to make a reservation! </p>
                        <div class="m-4 float-right"> <a class="btn btn-sm btn-outline-info" href="/Account/Login">Sign in</a></div>

                    </div>
                </div>
            }
            else
            {
                <!-- Modal content-->
                if (Model.NoTables == Model.ReservedTables)
                {
                    <div class="modal-content p-3">
                        <h4 class="modal-header">No tables available</h4>
                        <p class="pl-3 pt-2">Unfortunately, All tables for this event are reserved :( </p>
                        <div class="p-4"></div>
                    </div>
                }
                else
                {
                    <div class="modal-content m-5 p-2">
                        <div class="modal-header">
                            <h3 class="modal-title">Make a reservation</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        @using (Html.BeginForm("Reserve", "Events", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                @Html.Hidden("eventId", Model.Id)
                                <div class="form-group row">
                                    <div class="col-sm-2 col-form-label"><label for="name">Reservation Name</label></div>
                                    <div class="col-10"><input type="text" class="form-control" id="name" name="name" placeholder="Name for reservation"></div>
                                    <div id="name-hidden"></div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-2 col-form-label"> <label for="numberT">Tables</label></div>
                                    <div class="col-10"> <input type="number" id="numberT" class="form-control" name="notables" placeholder="Number of tables" min="1" max="3"></div>
                                    <div id="price-hidden"></div>
                                </div>
                                <br />

                                <h6 class="small">By clicking <span class="btn btn-sm bg-imperial rounded text-white" style="padding:1px;">Reserve</span> you will receive an email confirmation for your reservation.</h6>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" id="btn-reserve" class="btn bg-imperial text-mint">Reserve</button>
                                <button type="button" class="btn bg-imperial text-mint" data-dismiss="modal">Cancel</button>
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>



    <br />


    <div class="container row pt-3 ml-5 pl-5">
        <div class="col-3 pl-3"><i class="fa fa-clock ikona"></i></div>
        <div class="col-3"><i class="fa fa-music ikona"></i></div>
        <div class="col-3"><i class="fa fa-ticket-alt ikona ml-4"></i></div>
        <div class="col-3"><i class="fa fa-map ikona"></i></div>

    </div>

    <div class="row container pt-3 pb-2 pl-5 ml-5">
        <div class="col-3">
            <h6>TIME</h6>
            @Html.DisplayNameFor(model => model.TimeStart)
            <span>@Model.TimeStart.ToString("HH:mm")</span>
            <br />
            @Html.DisplayNameFor(model => model.TimeEnd):
            <span>@Model.TimeEnd.ToString("HH:mm")</span>
        </div>

        <div class="col-3">
            <h6>MUSIC</h6>
            @Html.DisplayNameFor(model => model.Performer):
            @Html.DisplayFor(model => model.Performer)
            <br />
            @Html.DisplayNameFor(model => model.Genre):
            @Html.DisplayFor(model => model.Genre)
        </div>

        <div class="col-3">
            <h6>TICKETS & TABLES</h6>
            @Html.DisplayNameFor(model => model.TicketPrice):
            @if (Model.HasTicket)
            {
                @Html.DisplayFor(model => model.TicketPrice) <span>den</span>
            }
            else
            {
                <span>Free</span>
            }
            <br />
            @Html.DisplayNameFor(model => model.NoTables):
            @if (Model.NoTables == Model.ReservedTables)
            {
                <span class="font-weight-bold">All reserved</span>
            }
            else
            {
                <span>Reserve Now</span>
            }
        </div>

        <div class="col-3">
            <h6>WHERE</h6>
            <span>Place:</span>
            <a href="/Locals/Details/@Model.local.Id">
                @Html.DisplayFor(model => model.local.Name) <br />
            </a>



            @Html.DisplayNameFor(model => model.local.City):
            @Html.DisplayFor(model => model.local.City)

        </div>
    </div>
    <br />
</div>

<script>

    const vr = document.getElementById("numberT");
    addEventListener('change', validate_tableNo);

    function validate_tableNo() {

        var x = document.getElementById("numberT").value;
        if (@Model.NoTables < x) {
            document.getElementById("price-hidden").innerHTML = "Unfortunately, we have only " + @Model.NoTables + " free tables left."
          document.getElementById("price-hidden").innerHTML += "\n Please choose a number less or equal than " + @Model.NoTables+".";
        document.getElementById("btn-reserve").disable = true;
    }
    if (@Model.NoTables >= x) {
        document.getElementById("price-hidden").innerHTML = "";
           document.getElementById("btn-reserve").disable = false;
    }
    document.getElementById("price-hidden").style.color = "red";
    document.getElementById("price-hidden").style.fontSize = "12px";
    }
</script>