@model EventReservation.Models.Local

@{
    ViewBag.Title = "Delete";
}

<link href="~/Css/createCss.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="pt-5 "></div> 
    <div class="container text-center py-5">
        <h3 class="text-center">Are you sure you want to delete this local?</h3>
        <div class="row container text-left">

            <div class="col-lg-3 pt-5">

                <div class="font24"> @Html.DisplayNameFor(model => model.Name): <span class="font22"> @Html.DisplayFor(model => model.Name)</span></div>

                <div class="font24">
                    @Html.DisplayNameFor(model => model.Description): <span class="font22">@Html.DisplayFor(model => model.Description)</span>
                </div>

                <div class="font24">
                    @Html.DisplayNameFor(model => model.City): <span class="font22">@Html.DisplayFor(model => model.City)</span>
                </div>

                <div class="font24">  @Html.DisplayNameFor(model => model.StreetName): <span class="font22">@Html.DisplayFor(model => model.StreetName)</span></div>

                <div class="font24">   @Html.DisplayNameFor(model => model.StreetNo): <span class="font22">@Html.DisplayFor(model => model.StreetNo)</span></div>
            </div>
            <div class="col-lg-4 pt-5">

                <div class="font24"> @Html.DisplayNameFor(model => model.OpeningHour): <span class="font22">@Html.DisplayFor(model => model.OpeningHour)</span></div>

                <div class="font24">  @Html.DisplayNameFor(model => model.ClosingHour): <span class="font22">  @Html.DisplayFor(model => model.ClosingHour)</span></div>

                <div class="font24"> @Html.DisplayNameFor(model => model.NoTables): <span class="font22"> @Html.DisplayFor(model => model.NoTables)</span></div>

                <div class="font24">  @Html.DisplayNameFor(model => model.Parking): <span class="font22"> @Html.DisplayFor(model => model.Parking)</span></div>

            </div>

        </div>
    </div>

    @Html.AntiForgeryToken()
    <div class="row py-5 align-content-center">
        <div class="col-3 offset-lg-4">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary btn-block" />
                <!--   @Html.ActionLink("Back to List", "Index")-->
            </div>
        </div>
        <div class="col-5"></div>
    </div>
}

