@model PagedList.IPagedList<EventReservation.Models.Local>
@using PagedList.Mvc;


<link href="~/Css/locals-index.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}
<style>
    .pagination li {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px lightgray solid;
        margin-left: 2px;
        margin-right: 2px;
    }

        .pagination li:hover {
            background-color: lightgray;
        }
</style>

<div class="bg-light container">
    <div class="container-page container pt-5 pb-4">
        <h2 class="text-green text-center display-4 font-header">Our locals</h2>
        <div class="row pb-5 pt-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 p-1">
                    <a class="border mt-3" href="/Locals/Details/@item.Id">
                        <div class="content shadow-lg rounded">
                            <div class="content-overlay"></div>
                            @if (@item.LocalsImage == null)
                            {
                                <img src="~/Content/IT_sliki/b52.jpg" style="height: 30px; width: 50px; " class="content-image" />
                            }
                            else
                            {
                                <div>
                                    @{
                                        var base64 = Convert.ToBase64String(@item.LocalsImage);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    }
                                    <img src="@imgSrc" style="height: 30px; width: 50px;" class="content-image" />
                                </div>}
                            <div class="content-details fadeIn-top">
                                <h3>@item.Name</h3>
                                <div>
                                    <div>
                                        <i class="fa fa-star" id="@(item.Id + "star1")" style="color: darkgray"></i>
                                        <i class="fa fa-star" id="@(item.Id + "star2")" style="color: darkgray"></i>
                                        <i class="fa fa-star" id="@(item.Id + "star3")" style="color: darkgray"></i>
                                        <i class="fa fa-star" id="@(item.Id + "star4")" style="color: darkgray"></i>
                                        <i class="fa fa-star" id="@(item.Id + "star5")" style="color: darkgray"></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }
        </div>
    </div>
    <script>
    $(document).ready(function () {
        @foreach (var item in Model)
        {

            double numberStars = 0;
            var reviews = item.Reviews.Count;

            if (reviews != 0) {
                numberStars = item.Reviews.Average(r => r.Stars);
            }
            for (int i = 0; i < numberStars; i++) {
                var id = item.Id.ToString() + "star" + (i + 1);

                @: document.getElementById("@id").style.color = "#f0ad4e";
            }
        }
    });
    </script>




</div>


<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>